/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: black;
  margin-bottom: 0;
  margin-top: 1%;
  float:left;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  padding-right: 20%;
  justify-content: space-around;
  align-items: right;
  float: right;
  margin-top: 0.5%;
}

.navigation {
  display: flex;
  align-items: right;
}

ul {
  list-style: none;
}

li {
  padding-left: 8%;
  padding-right: 8%;
}

a {
  text-decoration: none;
}

a:hover{
  color: black;
}

.pathSpan {
  border-right:1% solid #bbb;
  padding:20%;
  height: 5%;
  width: 90%;
}