/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: black;
  margin-bottom: 0;
  margin-top: 1%;
  float:left;
}

/* universal on all pages */
nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  padding-right: 20%;
  justify-content: space-around;
  align-items: right;
  float: right;
  margin-top: 0.5%;
}

.navigation {
  display: flex;
  align-items: right;
}

ul {
  list-style: none;
}

li {
  padding-left: 8%;
  padding-right: 8%;
}

a {
  text-decoration: none;
}

a:hover{
  color: black;
}

.pathBtn {
  border-style: none;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* things in dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10% 15%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* end universal on all pages */
.backPurple{
  color: white;
  background-color: purple;
}

.pOutline{
  border: 3px solid Purple;
}

img.smallResize{
  width: 30%;
  height = 30%;
}

/* template for pathways */
#titleEighth {
  margin-top: 7%;
  text-align: center;
}

.articlesPath
#courses {
  margin: auto;
}

.card {
  background-color: yellow;
  padding: 10%;
  text-align: left;
  width: 80%;
  overflow: auto;
}

.scheduleChart {
  float: left;
}

.scheduleText {
  float: right;
}

/* end template for pathways */

/* CSS for Testing.html page */
.folding {
  background-color: #eee;
  color: aqua;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  text-align: left;
  
}

