/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: black;
  margin-bottom: 0;
  margin-top: 1%;
  padding-right: 10%;
  /*   float:left; */
  font-family: "Mali", cursive;
}

/* universal nav on all pages */
nav {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  align-items: right;
  font-family: "Montserrat", sans-serif;
  font-size: 15pt;
}

ul {
  list-style: none;
}

li {
  padding-left: 8%;
  padding-right: 8%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #b5b5b5;
}

.pathBtn {
  border-style: none;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15pt;
  color: black;
}

.pathBtn:hover {
  color: #b5b5b5;
  font-size: 15pt;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* things in dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10% 15%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* end universal nav on all pages */
.backPurple {
  color: white;
  background-color: purple;
}

.pOutline {
  border: 3px solid Purple;
}

img.smallResize {
  width: 30%;
  height: 30%;
}

.picRight {
  float: right;
}

.large {
  font-size: 24pt;
}
.center {
  text-align: center;
}


/* template for pathways */
#titleEighth {
  margin-top: 7%;
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-size: 30pt;
}

#courses {
  margin: auto;
}

.card {
  background-color: yellow;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  width: 90%;
  overflow: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
}

.articlePaths {
  padding-left: 20%;
}

.headingPaths {
  font-family: "Zilla Slab", serif;
}

.scheduleChart {
}

.headingPaths {
  font-size: 25pt;
  margin: 0;
}

.scheduleText {
  font-size: 15pt;
}

.questionsPaths {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* end template for pathways */

/* CSS for Testing.html page */

/* Styling for accordian type button*/
.folding {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 2%;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 120%;
  transition: 0.5s;
  font-family: "Zilla Slab", serif;
}
/*Highlights on hover*/
.active,
.folding:hover {
  background-color: #ccc;
}
.folding:after {
  content: "\02795"; /*unicode for plus sign*/
  font-size: 50%;
  color: #777;
  float: right;
  margin-left: 2%;
  border: none;
}
.active:after {
  content: "\2796";
}
/*Styling for text under drop down*/
.board {
  padding: 0 5%;
  font-family: "Montserrat", sans-serif;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 100%;
  transition: max-height 0.5s ease-out;
}
